<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chr.dao.UserDao">
  
  <select id="selectByUsername" resultType="user">
  	select id,username,realname,password,sex,salt from p_user where username=#{username};
  </select>
  
  <insert id="insertUser" parameterType="user">
  	insert into p_user values(#{id},#{username},#{realname},#{password},#{sex},#{salt});
  </insert>
</mapper>
