<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">


    <bean id="empWebService" class="com.chr.server.web.service.EmpWebServiceImpl"/>

    <jaxws:server address="/ws" serviceClass="com.chr.server.web.service.EmpWebService">
        <jaxws:serviceBean>
            <ref bean="empWebService"/>
        </jaxws:serviceBean>
    </jaxws:server>

    <!--<jaxws:client id="empPortType" serviceClass="com.chr.client.code.EmpWebService"
                  address="http://192.168.0.47:8899/cxf_webservice_ser/cxf/es?wsdl" />-->

    <jaxws:client id="empPortType" serviceClass="com.chr.client.code2.EmpWebService"
                  address="http://localhost:8888/cxf_webservice/cxf/ws?wsdl" />

</beans>